/*reset*/
* {
    font-family: "Microsoft YaHei UI";
    margin: 0;
    padding: 0;
}
h2, h3{
    margin: 10px;
}
body {
    margin: auto;
    background-color: #DEDEDE;
}

/*header*/

header {
    margin: 0;
    padding: 0;
    height: 80px;
    background-color: #333;
}

header .brand {
    height: 70px;
    margin-top: 5px;
    margin-left: 40px;
}

header .nav-link {
    margin-top: auto;
    float: right;
    margin-right: 30px;
    height: 80px;
    line-height: 80px;
}

header .nav-link li {
    float: left;
    margin-left: 25px;
}

header .nav-link li a {
    text-decoration: none;
    color: #ffffff;
}

header .nav-link li a.active, .nav-link li a:hover {
    color: #A9AEB4;
}

/*article*/

article {
    margin: 20px 470px 20px 20px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 0 #6e7176;
}

article h2 {
    font-size: 20px;
    color: #6E7176;
}

article .writer-info {
    color: #6E7176;
    margin: 10px;
}

article p {
    text-indent: 2em;
}

article img {
    width: 400px;
    height: 250px;
}

article .no-list {
    list-style: none;
}
.img-list{
    overflow: auto;
    margin-right: 100px;
}
.img-list .img-item {
    width: 132px;
    height: 132px;
    box-sizing: border-box;
    padding: 8px 10px;
    border: 1px solid #cdcdcd;
    margin-top: 20px;
    float: left;
    margin-left:20px;
}

.img-list .img-item p {
    text-indent: 0;
    text-align: center;
    margin: 5px;
}

.img-list .img-item img {
    width: 110px;
    height: 80px;
}

article ol{
    margin: 20px;
}
table {
    width: 100%;
    /*border-right: solid 1px #cdcdcd;*/
    /*border-left: solid 1px #cdcdcd;*/
}

table th {
    background-color: #333333;
    color: #ffffff;
}

table td {
    border-bottom: solid 1px #cdcdcd;
}

table tr:last-child td {
    border: 0;
    background-color: #cccccc;
}

table a {
    text-decoration: none;
}

th {
    text-align: left;
}

th, td {
    border-right: solid 1px #cdcdcd;
    padding: 0;
    text-indent: 0.5em;
}

/* aside */
aside {
    float: right;
    padding: 20px;
    margin: 20px;
    width: 380px;
    background-color: #fff;
    box-shadow: 0 2px 0 #6e7176;
    font-size: 14px;
}

aside .aside-header {
    height: 50px;
    border-left: solid 4px #cdcdcd;
}

aside .aside-header h4 {
    margin-top: auto;
    text-indent: 1em;
    font-size: 18px;
    line-height: 50px;
}

aside form {
    width: 100%;
}

aside form .form-group {
    float: right;
    overflow: auto;
    margin-right: 70px;
    margin-top: 10px;
    clear: both;
}

.form-group span {
    margin-right: 10px;
}

form .info {
    color: #AFB4B8;
    font-size: 14px;
    float: left;
    margin-top: 5px;
    margin-left: 165px;

}

aside form .radio {
    margin-right: 130px;
    position: relative;
}

.radio label {
    margin-right: 10px;
    position: relative;
}

.radio input {
    opacity: 0;
}

.radio input + i {
    box-sizing: border-box;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    right: 18px;
    top: 3px;
    background-color: #fff;
    border: solid 1px #6E7176;
}

.radio input:checked + i {
    border: solid 5px #399BFD;
}

aside form .selector {
    margin-right: 155px;
}
aside .selector label{
    margin-right: 6px;
}

aside .selector select {
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 22px;
    width: 55px;
    line-height: 22px;
    border-radius: 4px;
    padding-left: 10px;
    border: solid 1px #cccccc;
}

aside form .checkbox {
    margin-right: 55px;
    position: relative;
}

aside form .checkbox input {
    opacity: 0;
}

aside form .checkbox label {
    margin-left: 10px;
    position: relative;
}

aside form .checkbox input + i {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 3px;
    border: solid 1px #cdcdcd;
    background-color: #ffffff;
    position: absolute;
    top: 2px;
    right: 30px;
}

aside form .checkbox input:checked + i:after {
    content: '\2714';
    position: absolute;
    left: -1px;
    top: -3px;
}

aside form .text-area {
    margin-right: 10px;
}

.text-area label {
    float: left;
    display: block;
    margin-right: 10px;
}

.text-area textarea {
    width: 200px;
    height: 90px;
    border: solid 1px #cdcdcd;
}

form .btn-sub {
    margin: 0 5%;
    padding: 0;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    height: 40px;
    width: 90%;
    border-radius: 10px;
    background-color: #3355D0;
}

/* footer */
footer {
    height: 50px;
    background-color: #333333;
}

footer p {
    color: #ffffff;
    text-align: center;
    line-height: 50px;
}